.root {
  display: grid;
  grid-template-columns:
    minmax(16%, 1fr) minmax(12%, 0.8fr) minmax(25%, 4fr) minmax(20%, 1fr)
    minmax(12%, 1.5fr) minmax(10%, 1fr);
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  background: #f5f7f9;
}

.item {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;

  color: #2f3144;
  font-feature-settings: 'liga' off;
  font-family: Manrope;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  &:nth-child(1) {
    cursor: pointer;
  }
}
