.root {
  display: flex;
  padding: 10px 16px;
  // gap: 10px;

  color: #2f3144;
  font-feature-settings: 'liga' off;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}
